

body{
	padding: 0 !important;
	margin:0 !important;
}

#links{
	position: absolute;
	width:640px;
	bottom:18%;
	left:50%;
	margin-left:-320px;
	color:white;

}

#logo{
	position: absolute;
	top:18%;
	left:50%;
	margin-left: -75px;
}

a:link{
	font-family: "Open Sans";
	text-decoration: none;
	font-weight: 6;
	font-size: 20px;
	color:white;
	margin: 20px;
}

a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    color: grey;
}


.left_column{
	float:left;
	width: 50%;
	height: 100vh;

	
}

.right_column{
	float:right;
	width: 50%;
	height:100vh;
	
}

.content{

	margin-top:80px;
	margin-left:80px;
	margin-right:80px;
	overflow: scroll;
}

.left_title{
	position: absolute;
	left:25%;
	top: 60%;
	width:300px;
	margin-left: -150px;
}

h1{
	text-align: center;
	font-family: "Open Sans";
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 0px;
}

h2{
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 800;
	margin-left: 30px;
}

h3{
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 800;
	margin-left: 30px;
	color:white;
}

p{
	font-family: "Poppins";
	font-size: 14px;
	font-weight: 300;
	color: white;
	margin-left:30px;
	margin-top:16px;
}

button{
	text-decoration: none;
	border:none;
	color: black;
	background-color: white;
	outline: none;
	font-size: 14px;
	font-family: "Open Sans";
}

button:hover{
	border:none;
	color:grey;
}

button:active{
	border:none;
	
}

#buttons{
	margin-top: 0px;
}

#photo{
	width:500px;
	height:250px;
	margin:30px;
	background-color:grey;
}

.text{
	position: absolute;
	top:60%;
	margin-right:80px;
}

.client_icon{
	margin: 12px;
	width: 100px;
	height:80px;
}

#clients_icons{
	position: absolute;
	top:20%;
	left:60%;
	border: 0px !important;
}

.client_td{
	border: 0px !important;
}
#form1, #form2{
	color:black;
	font-size: 12px;
	font-family: "Poppins";
	font-weight: 300;
	margin-left: 0px;
}

.form_box{
	text-align: left;
	margin-left: 30px;
	
}

.nav{
  /* mobile first */
  position: absolute;
  left:0%;
  width: 100%;
  height:100%;
 
  visibility: hidden;
  z-index: 2;
 
  -webkit-transform: scale(1,1);
  transform-origin: 100% 100%;
 
}
 
.nav.is-visible{
  position: absolute;
  left:0%;
  width: 100%;
  height:100%;
  
  z-index: 2;
  -webkit-transform: scale(1,1);
  visibility: visible;
  
  
}

.nav_table{
	background-color:#31354e;
	opacity: 0.95;
	position: absolute;
	top:0%;
	width:85%;
	height:100%;
	right:0%;
	margin:auto;
	border-collapse: collapse;
}
td{
	width:30%;
	border: 2px solid grey;
}


table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child{
	border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}

.nav_icon{
	width:90px;
	height:90px;
	margin: auto;
	
}

#iam_icon{
	width:250px;
	height:140px;
	margin:0px;
}

.grey_area{
	position:absolute;
	background-color: grey;
	opacity: 0.95;
    top:0%;
    width: 15%;
    height:100%;
    left:0%;

    
}

#nav_disappear{
	position: absolute;
	top:10%;
	width: 100%;
	background-color: grey;
}

#nav_trigger{
	position: absolute;
	top:8%;
	left:6%;
}

.nav_menu{
	width:50px; 
	height:35px;
}

h4{
	
	font-family: "Open Sans";
	color:white;
	font-size: 25px;
}



